/* ----------------------------------------- */
/*            GENERAL RULES                  */
/* ----------------------------------------- */
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(to right bottom, rgb(46, 107, 55), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
  /* orizontal scroll < */
  /* min-width: 576px; */
}

h4 {
  font-size: 0.8rem;
  font-weight: 500;
}
h5 {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}
ul {
  padding-left: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/* transition hover  */
.aside-item span,
.aside-item i,
h3 a {
  transition: color 0.3s ease;
}
h2,
main .thumb-layover,
main .thumb-title,
#logo-block .aside-item:last-child li {
  transition: all 0.3s ease;
}
/* ----------------------------------------- */
/*            PAGE SETUP                   */
/* ----------------------------------------- */
.page-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.page-wrapper .aside-left {
  max-width: 225px;
  flex-basis: 225px;
  height: calc(100vh - 100px);
  background-color: #000;
}
.page-wrapper .main-wrapper {
  flex-basis: calc(100% - 225px);
  height: calc(100vh - 100px);
  overflow: auto;
  overflow-x: hidden;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 90px;

}
.page-wrapper footer {
  flex-basis: 100%;
  height: 100px;
  color: #fff;
  background-color: #282828;
}

/* ----------------------------------------- */
/*                ASIDE LEFT               */
/* ----------------------------------------- */
.aside-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#aside-playlist {
 overflow: auto;
 overflow-x: hidden;
 min-height: 15vh;
}
#spotify-logo{
  width: 65%;
  height: auto;
  margin-bottom: 20px;
}
.aside-player-list {
  font-weight: 500;
}
/* Aside spacing style */
.aside-left,
.aside-left a,
.aside-left i {
  color:#c4c4c4;
}
.aside-block:not(#logo-block),
#spotify-logo,
#spotify-logo-mobile {
  padding: 20px 0 10px 25px;
}
#logo-block {
  padding: 20px 0 10px 0px;
}
#logo-block .aside-item:last-child li {
  padding-left: 20px;
  border-left: 5px solid transparent;
}
#logo-block .aside-item:last-child li:hover {
  border-left: 5px solid #1ED760;
}
.aside-item,
.aside-item li {
  margin-bottom: 10px;
}
.aside-item span {
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.8rem;
}
.aside-item li i,
.plus-playlist {
  font-size: 1.5rem;
  vertical-align: middle;
  position: relative;
  bottom: 3px;
}
.aside-item li i {
  display: inline-block;
  width: 27px;
}
.plus-playlist {
  font-size: 2.5rem;
}

.aside-item a:hover i,
.aside-item a:hover span,
.aside-scroll li a:hover {
  color: #fff;
}
.app-install {
  padding-bottom: 7px;
  border-bottom: 1px solid #c4c4c4;
  margin-right: 20px;
}
#spotify-logo-mobile {
  display: none;
  height: 66px;
  width: auto;
}
/* ----------------------------------------- */
/*            HEADER                     */
/* ----------------------------------------- */
main {
  max-width: 1420px;
  margin: auto;
}
header {
  max-width: 630px;
  width: 85%;
  margin: auto;
  padding-top: 20px;
  text-transform: uppercase;
}
.main-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.main-navbar li {
  padding: 0 15px;
}
header h3 {
  font-size: 0.9rem;
  font-weight: 700;
}
header h3 a {
  color: #c4c4c4;
}
header h3 a:hover {
  color: #fff;
}
/* Menu hamburger ved mq */
.menu-hamburger {
  display: none;
  position: relative;
}
.menu-hamburger i {
  color: #fff;
  font-size: 2rem;
}
.drop-hamburger {
  display: none;
  position: absolute;
  left: -10px;
  z-index: 2;
  background-color: #000;
  padding: 20px;
  border-radius: 5px;
}
.menu-hamburger:hover .drop-hamburger {
  display: block;
}


.main-navbar h3:after {
  content: '';
  width: 50%;
  height: 4px;
  visibility: hidden;
  display: block;
  margin-left: 30%;
  background: #1DB954;
  transition: 100ms;
}

.main-navbar h3:hover:after {
  visibility: visible;
}
/* ----------------------------------------- */
/*               MAIN                   */
/* ----------------------------------------- */

/* --------  SECTION   ---------- */
section {
  padding-top: 35px;
  padding-bottom: 35px;
}
/* section title */
main .section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content {
  text-align: center;
}
/* h2 decoration hover */
.section-header h2 {
  font-weight: bold;
}
.section-header h2 a:hover {
  text-decoration: underline;
}

.section-header h2 a,
.section-content h5 a {
  color: #fff;
}
.section-header h4 a,
.section-header h4 {
  color: #ddd;
}
.section-header h4 a:hover {
  color: #fff;
}
/* section-content */
main .thumb {
  position: relative;
}
main .thumb-layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .thumb:hover .thumb-layover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}
main .thumb-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* transition: transform 3s ease; */
}
main .thumb-title {
  color: #ddd;
  font-size: 3rem;
}
main .thumb-title:hover {
  color: #fff;
  font-size: 3.5rem;
}
main .thumb:hover .thumb-title {
  display: block;
  cursor: auto;
}
.section-content img {
  width: 100%;
  height: auto;
}

/* ----------------------------------------- */
/*               FOOTER                 */
/* ----------------------------------------- */
footer {
  position: relative;
  z-index: 99;
}
footer i {
  color: #fff;
  /* debug */

}
footer i.fa-play-circle {
  font-size: 1.8rem;
}
.foot-container {
  display: flex;
  height: 100%;
}

/* Player container */
.foot-container > .player-cont {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
.player-cont .top-player,
.player-cont .bottom-player {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-player li {
  display: inline-block;
  margin: 0 15px;
  vertical-align: middle;
}
.player-bar {
  display: inline-block;
  width: 50%;
  height: 4px;
  background-color: #404040;
  margin: 0 6px;
}
/* Volume container */
.foot-container .volume-cont {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1%;
}
/* left footer artist song name */

#artist-block {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#artist-image {
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#artist-image img {
  width: 55px;
  height: auto;
  margin: 0 15px;
}

#song-name {

}
/* Scrollbar, non supportata su Firefox e Edge */
.style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: #c4c4c4;
}

.style-scroll::-webkit-scrollbar
{
  border-radius: 10px;
	width: 12px;
  background-color: #c4c4c4;
}

.style-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

}


/* ----------------------------------------- */
/*               MEDIA QUERY                  */
/* ----------------------------------------- */
/* Extra Large */
@media screen and (min-width:1200px) {

}
/* Large lg */
@media screen and (min-width:992px) and (max-width:1199px) {
 main .section-content .row > div:nth-child(1n+5) .thumb-container {
   display: none;
 }
}
/* Medium md */
@media screen and (min-width:768px) and (max-width:991px) {
  main .section-content .row > div:nth-child(1n+4) .thumb-container {
    display: none;
  }
}
/* Small xs */
@media screen and (min-width:576px) and (max-width:767px) {
  main .section-content .row > div:nth-child(1n+3) .thumb-container {
    display: none;
  }
}
/* Extra Small xxs */
@media screen and (max-width:575px) {
  main .section-content .row > div:nth-child(1n+3) .thumb-container {
    display: none;
  }
  /* Aside left resize hide text mobile view */
  #spotify-logo,
  .aside-left .aside-item span,
  .aside-left .aside-item h5 {
    display: none;
  }
  #spotify-logo-mobile {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-wrapper .aside-left {
    max-width: 150px;
    flex-basis: 150px;
  }
  .page-wrapper .main-wrapper {
    flex-basis: calc(100% - 150px);
  }
  .aside-item li i,
  .app-install i,
  .plus-playlist {
    font-size: 2.5rem;
    margin-left: 20%;
  }
  .aside-item li {
    padding-top: 15px;
  }
}

/* mq menu hamburger */
@media screen and (max-width:768px) {
  header .main-navbar {
    display: none;
  }
  header .menu-hamburger {
    display: block;
  }
  h2 {
    font-size: 1.5rem;
  }
}
