/* * {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* ----------------------------------------- */
/*            GENERAL RULES                  */
/* ----------------------------------------- */
body {
  background-color: pink;
  font-size: 16px;
}
h1 {
  color: blue;
}
h4 {
  text-transform: uppercase;
}
/* ul sovrascrive regola boot  */
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
/* ----------------------------------------- */
/*             REUSABLE COMPONENTS           */
/* ----------------------------------------- */

/* ----------------------------------------- */
/*            PAGE SETUP                   */
/* ----------------------------------------- */
.page-wrapper {
  display: flex;
  flex-flow: row wrap;
}
.page-wrapper .aside-left {
  max-width: 225px;
  flex-basis: 225px;
  height: calc(100vh - 100px);
  /* debug */
  background-color: lightblue;
}
.page-wrapper .main-wrapper {
  flex-basis: calc(100% - 225px);
  height: calc(100vh - 100px);
  overflow: auto;
  overflow-x: hidden;

  padding-left: 20px;
  padding-right: 20px;
  /* debug */
  padding-bottom: 90px;
  background-color: lightgray;
}
.page-wrapper footer {
  flex-basis: 100%;
  /* debug */
  height: 100px;
  background-color: lightgreen;
}

/* ----------------------------------------- */
/*                ASIDE LEFT               */
/* ----------------------------------------- */
.aside-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-block {
  /* debug */
  /* flex-basis: 100px; */
  background-color: yellow;
}
#spotify-logo {
  width: 175px;
  height: auto;
}
.aside-scroll {
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
/* ----------------------------------------- */
/*            HEADER                     */
/* ----------------------------------------- */
header {
  max-width: 630px;
  width: 85%;
  margin: auto;
}
.main-navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----------------------------------------- */
/*               MAIN                   */
/* ----------------------------------------- */
main .section-title {
  display: flex;
  justify-content: space-between;
}
main .thumb {
  position: relative;
  padding-top: 100%;
  background-size: cover;
}
main .thumb-layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .thumb:hover .thumb-layover {
  background-color: rgba(0, 0, 0, 0.7);
}
main .thumb-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Section Mood */
#mood .thumb {
  background-image: url("../img/canta-sotto-doccia.jpg");
}

/* ----------------------------------------- */
/*               MEDIA QUERY                  */
/* ----------------------------------------- */
/* Extra Large */
@media screen and (min-width:1200px) {

}
/* Large lg */
@media screen and (min-width:992px) and (max-width:1199px) {

}
/* Medium md */
@media screen and (min-width:768px) and (max-width:991px) {

}
/* Small xs */
@media screen and (min-width:576px) and (max-width:767px) {

}
/* Extra Small xxs */
@media screen and (max-width:575px) {

}
